@use "./mixins" as *;
@use "./breakpoints" as *;

.about {
  width: 100%;
  display: flex;
  flex-direction: column;
  &__title {
    padding: 1.5rem 1rem 0;
    margin: 0;
    font-size: 1.5rem;
    line-height: 2rem;
    @include demi-font;
    @include tablet {
      font-size: 2.25rem;
      line-height: 2.75rem;
    }
  }
  &__image {
    width: 100%;
    padding: 1rem 1rem 0;
  }
  &__quote,
  &__sub-heading {
    padding: 1rem 1rem 0;
    margin: 0;
    @include demi-font;
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
  &__sub-heading {
    padding: 1.5rem 1rem 0;
  }
  &__text {
    @include regular-font;
    padding: 1rem 1rem 0;
    margin: 0;
    font-size: 0.8125rem;
    line-height: 1.125rem;
  }
}
