@use "./mixins" as *;
@use "./breakpoints" as *;
@use "./variables" as *;

.about {
  width: 100%;
  display: flex;
  flex-direction: column;
  color: $primary-font-color;
  @include desktop {
    padding: 0 2.25rem;
  }
  &__title {
    padding: 1.5rem 1rem 0;
    margin: 0;
    @include section-header;
    @include tablet {
      padding-top: 3rem;
    }
    @include desktop {
      padding-left: 0;
    }
  }
  &__image {
    width: 100%;
    padding: 1rem 1rem 0;
    @include tablet {
      padding: 2.25rem 2.25rem 0;
    }
  }
  &__quote,
  &__sub-heading {
    padding: 1rem 1rem 0;
    margin: 0;
    @include sub-header;
    @include tablet {
      padding: 2.25rem 2.25rem 0;
    }
  }
  &__quotee {
    @include tablet {
      display: block;
      font-size: 1.1875rem;
      line-height: 1.375rem;
      padding-top: 1rem;
    }
  }
  &__sub-heading {
    padding-top: 1.5rem;
  }
  &__text {
    @include body;
    padding: 1rem 1rem 0;
    margin: 0;
    @include tablet {
      padding: 0;
    }
  }
}
