.about {
  width: 100%;
  display: flex;
  flex-direction: column;
  &__title {
    margin: 1rem;
  }
  &__image {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  &__quote {
    margin: 1rem;
  }
  &__sub-heading {
    margin-left: 1rem;
  }
  &__text {
    margin: 1rem;
  }
}
