$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;
$wide-screen-desktop-breakpoint: 1281px;

@mixin tablet {
  @media screen and (min-width: $tablet-breakpoint) {
    @content;
  }
}
@mixin desktop {
  @media screen and (min-width: $desktop-breakpoint) {
    @content;
  }
}
@mixin wide-screen {
  @media screen and (max-width: $wide-screen-desktop-breakpoint) {
    @content;
  }
}
