@use "./variables" as *;
@use "./mixins" as *;
@use "./typography" as *;
@use "./breakpoints" as *;

.comments {
  @include padding-between-components;
  @include tablet {
    width: 80%;
    margin: 0 auto;
  }
  @include desktop {
    width: 60%;
  }
}
.comment {
  padding: 1rem 0;
  display: flex;
  border-bottom: 1px solid $divider-line-color;
  &__container {
    width: 100%;
  }
  &__input {
    resize: none;
    height: 4rem;
    background-color: $alternative-background-color;
    padding: 0.5rem;
    border-radius: 4px;
    &:active {
      border: 1px solid $hover-font-color;
    }
    @include tablet {
      height: 4.5rem;
      padding: 1rem;
    }
  }
  &__label {
    padding-bottom: 4px;
  }
  &__name {
    @include body;
    @include demi-font;
    margin: 0;
    &-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 1rem;
    }
  }

  &__avatar {
    border-radius: 50%;
    width: 2.25rem;
    height: 2.25rem;
    background-color: $divider-line-color;
    margin-right: 1rem;
  }
  &__date {
    @include body;
    color: $secondary-font-color;
    margin: 0;
  }
  &__text {
    @include body;
    margin: 0;
  }
}
