@use "./breakpoints" as *;
@use "./typography" as *;
@use "./variables" as *;

.contacts {
  @include tablet {
    width: 32%;
  }
  &__name,
  &__company,
  &__location,
  &__booking,
  &__email {
    @include footer;
    margin: 0;
  }
  &__name,
  &__email {
    padding-top: 1rem;
  }
  &__location,
  &__booking,
  &__email,
  &__link {
    color: $secondary-font-color;
  }
  &__company {
    padding-bottom: 1rem;
  }
  &__link {
    text-decoration: none;
  }
}
