@use "./variables" as *;
@use "./breakpoints" as *;

.footer {
  background-color: $primary-font-color;
  color: $tertiary-font-color;
  padding-left: 1rem;
  &__top {
    display: flex;
    justify-content: space-between;
  }
  &__link {
  }
  &__title {
    @include tablet {
      margin-right: 2rem;
    }
  }
  &__logo {
    margin: 1rem;
    display: none;
    @include tablet {
      display: inline-block;
    }
  }
  &__image {
    &--tablet {
      @include tablet {
        display: none;
      }
    }
  }
  &__contact-details {
    margin-top: 2rem;
    @include tablet {
      display: flex;
      justify-content: space-evenly;
    }
  }
  &__bottom {
    margin-top: 1rem;
  }
  &__copyright {
    margin-bottom: 0;
    padding-bottom: 2rem;
  }
}
