@use "./variables" as *;
@use "./breakpoints" as *;
@use "./mixins" as *;

.footer {
  background-color: $primary-font-color;
  color: $tertiary-font-color;
  padding-left: 1rem;
  &__top {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
  }
  &__link {
  }
  &__title {
    &-name {
      padding-top: 1.5rem;
      margin: 0;
      font-size: 1.5rem;
      line-height: 2rem;
      @include demi-font;
      @include tablet {
        font-size: 2.25rem;
        line-height: 2.75rem;
      }
    }
    @include tablet {
      margin-right: 2rem;
    }
  }
  &__logo {
    margin: 1rem;
    display: none;
    @include tablet {
      display: inline-block;
    }
  }
  &__image {
    height: 1.25rem;
    width: 7.5rem;
    &--tablet {
      @include tablet {
        display: none;
      }
    }
  }
  &__contact-details {
    @include tablet {
      display: flex;
      justify-content: space-evenly;
    }
  }
  &__bottom {
    padding-top: 4rem;
  }
  &__copyright {
    margin: 0;
    color: $secondary-font-color;
    @include regular-font;
    font-size: 0.8125rem;
    line-height: 1.125rem;
    padding: 1rem 0 2rem;
  }
}
