@use "./variables" as *;
@use "./breakpoints" as *;
@use "./mixins" as *;

.footer {
  background-color: $primary-font-color;
  color: $tertiary-font-color;
  padding-left: 1rem;
  @include desktop {
    padding: 0 2.25rem;
  }
  &__top {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    @include tablet {
      align-items: baseline;
    }
  }
  &__title {
    &-name {
      padding-top: 1.5rem;
      margin: 0;
      @include section-header;
      @include tablet {
        padding: 3rem 2.25rem 0 0;
      }
    }
  }
  &__logo {
    margin: 1rem;
    display: none;
    @include tablet {
      display: flex;
    }
  }
  &__link {
    @include tablet {
      padding-right: 1rem;
    }
  }
  &__image {
    height: 1.25rem;
    width: 7.5rem;

    &--tablet {
      @include tablet {
        display: none;
      }
    }
  }
  &__contact-details {
    @include tablet {
      display: flex;
      width: 100%;
      padding-right: 1rem;
      justify-content: space-between;
    }
    @include desktop {
      width: 80%;
    }
  }
  &__bottom {
    padding-top: 4rem;
    @include tablet {
      padding: 0;
    }
  }
  &__copyright {
    margin: 0;
    color: $secondary-font-color;
    @include footer;
    padding: 1rem 0 2rem;
    @include tablet {
      padding: 1.25rem 0 2.25rem;
    }
  }
}
