@use "./breakpoints" as *;
@use "./mixins" as *;

.gallery {
  display: flex;
  flex-direction: column;
  &__title {
    padding: 1.5rem 1rem 0;
    margin: 0;
    font-size: 1.5rem;
    line-height: 2rem;
    @include demi-font;
    @include tablet {
      font-size: 2.25rem;
      line-height: 2.75rem;
    }
  }
  &__images {
    width: 100%;
    @include tablet {
      flex-direction: row;
      margin-bottom: 1rem;
    }
  }
  &__image {
    padding: 1rem 1rem 0;
    width: 100%;
    @include tablet {
      width: 30%;
      flex-wrap: wrap;
      margin: 0.5rem;
    }
  }
}
