@use "./breakpoints" as *;
@use "./mixins" as *;
@use "./variables" as *;

.gallery {
  display: flex;
  flex-direction: column;
  color: $primary-font-color;
  background-color: $alternative-background-color;
  &__title {
    padding: 1.5rem 1rem 0;
    margin: 0;
    @include section-header;
    @include tablet {
      padding: 3rem 1rem 0;
    }
    @include desktop {
      padding-left: 2.25rem;
    }
  }
  &__images {
    width: 100%;
    @include tablet {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      padding: 1rem 0 1.25rem 1rem;
      justify-content: space-evenly;
    }
    @include desktop {
      padding: 2.25rem 0 0.75rem 2.25rem;
    }
  }
  &__image {
    margin: 1rem 1rem 0;
    width: 100%;
    filter: grayscale(1);
    &:hover {
      filter: grayscale(0);
      border: 4px solid $hover-font-color;
    }
    @include tablet {
      width: 31%;
      margin: 0 1rem 1.5rem 0;
    }
  }
}
