@use "./variables" as *;
@use "./mixins" as *;
@use "./breakpoints" as *;

.hero {
  background-image: url("../../assets/images/hero-bio.jpg");
  background-size: cover;
  background-position: center;
  height: 20rem;
  width: 100%;
  display: flex;
  align-items: center;
  @include tablet {
    height: 30rem;
  }
  @include desktop {
    height: 40rem;
  }
  &__title {
    color: $tertiary-font-color;
    margin: 0;
    padding-left: 1rem;
    @include demi-font;
    font-size: 1.5rem;
    line-height: 2rem;
    @include tablet {
      font-size: 3.75rem;
      line-height: 4.25rem;
    }
    @include desktop {
      padding-left: 2.25rem;
    }
  }
}
