@use "./variables" as *;
@use "./typography" as *;
@use "./breakpoints" as *;

.hero {
  background-size: cover;
  background-position: center;
  height: 20rem;
  width: 100%;
  display: flex;
  align-items: center;
  box-shadow: inset 100rem 100rem rgba(50, 50, 50, 0.5);
  &--bio {
    background-image: url("../../assets/images/hero-bio.jpg");
  }
  &--shows {
    background-image: url("../../assets/images/hero-shows.jpg");
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  &__heading {
    height: 50%;
  }
  @include tablet {
    height: 30rem;
  }
  @include desktop {
    height: 40rem;
  }
  &__title,
  &__sub-title {
    color: $tertiary-font-color;
    margin: 0;
    padding-left: 1rem;
    &--next-line {
      display: block;
    }
    @include desktop {
      padding-left: 2.25rem;
    }
  }
  &__title {
    @include page-header;
    &--padding {
    }
  }
  &__sub-title {
    @include sub-header;
  }
}
