@use "./variables" as *;
@use "./mixins" as *;
@use "./breakpoints" as *;

.nav {
  &__list {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
  }
  &__links {
    list-style: none;
    padding-bottom: 1rem;
    width: 50%;
    text-align: center;
    height: 2.5rem;
    @include tablet {
      margin-right: 3rem;
    }
    &--active,
    &:hover {
      border-bottom: 5px solid $divider-line-color;
    }
  }
  &__link {
    text-decoration: none;
    color: $secondary-font-color;
    font-size: 0.625rem;
    line-height: 1.25rem;
    @include demi-font;
    &--active,
    &:hover {
      color: $tertiary-font-color;
    }
  }
}
