@use "./typography" as *;
@use "./breakpoints" as *;
@use "./mixins" as *;
@use "./variables" as *;

.tickets {
  &__title {
    @include section-header;
    padding: 1.5rem 0 0 1rem;
    margin: 0;
    @include tablet {
      padding: 3rem 2.25rem 1.25rem;
    }
  }
}
.ticket {
  &-container {
    display: flex;
    flex-direction: column;
    padding: 0 1rem 1rem;
    border-bottom: 1px solid $divider-line-color;
    @include tablet {
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
      padding: 1.5rem 0;
      &:hover {
        background-color: $alternative-background-color;
      }
      &:active {
        background-color: $divider-line-color;
      }
    }
    @include desktop {
      width: 70%;
      margin-left: auto;
    }
  }
  &__button {
    @include button;
    @include tablet {
      margin: 0;
    }
  }
  &__date-label,
  &__venue-label,
  &__location-label {
    margin: 0;
    @include labels-and-buttons;
    color: $secondary-font-color;
    padding-top: 1rem;
    @include tablet {
      display: none;
    }
  }
  &__date,
  &__venue,
  &__location {
    margin: 0;
    @include body;
  }
  &__date {
    @include demi-font;
  }
}

.tablet-labels {
  display: flex;
  justify-content: space-evenly;
  width: 74%;
  @include desktop {
    width: 35%;
    margin-left: 35%;
    justify-content: space-between;
    padding-bottom: 1.5rem;
  }
  &__date,
  &__venue,
  &__location {
    display: none;
    margin: 0;
    @include labels-and-buttons;
    color: $secondary-font-color;
    @include tablet {
      display: flex;
    }
  }
  &__venue {
    @include desktop {
      padding-left: 4rem;
    }
  }
}
