* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  padding: 0;
  max-width: 1020px;
}

.header {
  background-color: #323232;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .header {
    flex-direction: row;
    align-items: baseline;
  }
}
.header__link {
  display: flex;
  justify-content: center;
  padding: 1rem 0;
}
@media screen and (min-width: 768px) {
  .header__link {
    padding: 1rem;
    padding-right: 1.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .header__link {
    padding-left: 2.25rem;
  }
}
.header__logo {
  height: 1.25rem;
  width: 7.5rem;
}

@font-face {
  font-family: Avenir;
  src: url("../../assets/fonts/AvenirNextLTPro-Bold.otf") format("opentype"), url("../../assets/fonts/alternative-files/AvenirNextLTProBold.ttf") format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: Avenir;
  src: url("../../assets/fonts/AvenirNextLTPro-Demi.otf") format("opentype"), url("../../assets/fonts/alternative-files/AvenirNextLTProDemi.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: Avenir;
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf") format("opentype"), url("../../assets/fonts/alternative-files/AvenirNextLTPro.ttf") format("truetype");
  font-weight: 400;
}
.nav__list {
  display: flex;
  justify-content: space-evenly;
  margin: 0;
  padding: 0;
}
@media screen and (min-width: 768px) {
  .nav__list {
    width: 100%;
  }
}
.nav__links {
  list-style: none;
  padding-bottom: 1rem;
  width: 50%;
  text-align: center;
  height: 2.5rem;
}
@media screen and (min-width: 768px) {
  .nav__links {
    padding: 0 1.125rem;
  }
}
.nav__links--active, .nav__links:hover {
  border-bottom: 5px solid #e1e1e1;
}
.nav__link {
  text-decoration: none;
  color: #afafaf;
  font-family: "Avenir";
  font-weight: 700;
  font-size: 0.625rem;
  line-height: 1.25rem;
}
@media screen and (min-width: 768px) {
  .nav__link {
    font-size: 0.75rem;
  }
}
.nav__link--active, .nav__link:hover {
  color: #ffffff;
}

.hero {
  background-size: cover;
  background-position: center;
  height: 20rem;
  width: 100%;
  display: flex;
  align-items: center;
  box-shadow: inset 100rem 100rem rgba(50, 50, 50, 0.5);
}
.hero--bio {
  background-image: url("../../assets/images/hero-bio.jpg");
}
.hero--shows {
  background-image: url("../../assets/images/hero-shows.jpg");
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
}
.hero__heading {
  height: 50%;
}
@media screen and (min-width: 768px) {
  .hero {
    height: 30rem;
  }
}
@media screen and (min-width: 1280px) {
  .hero {
    height: 40rem;
  }
}
.hero__title, .hero__sub-title {
  color: #ffffff;
  margin: 0;
  padding-left: 1rem;
}
.hero__title--next-line, .hero__sub-title--next-line {
  display: block;
}
@media screen and (min-width: 1280px) {
  .hero__title, .hero__sub-title {
    padding-left: 2.25rem;
  }
}
.hero__title {
  font-family: "Avenir";
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
}
@media screen and (min-width: 768px) {
  .hero__title {
    font-size: 3.75rem;
    line-height: 4.25rem;
  }
}
.hero__sub-title {
  font-family: "Avenir";
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.375rem;
}
@media screen and (min-width: 768px) {
  .hero__sub-title {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}
.hero__song-container {
  width: 90%;
  padding-left: 1rem;
  padding-right: 1rem;
}
@media screen and (min-width: 768px) {
  .hero__song-container {
    padding-left: 2.25rem;
    padding-right: 2.25rem;
  }
}

.about {
  width: 100%;
  display: flex;
  flex-direction: column;
  color: #323232;
}
@media screen and (min-width: 1280px) {
  .about {
    padding: 0 2.25rem;
  }
}
.about__title {
  padding: 1.5rem 1rem 0;
  margin: 0;
  font-family: "Avenir";
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
}
@media screen and (min-width: 768px) {
  .about__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
}
@media screen and (min-width: 768px) {
  .about__title {
    padding-top: 3rem;
  }
}
@media screen and (min-width: 1280px) {
  .about__title {
    padding-left: 0;
  }
}
.about__image {
  width: 100%;
  padding: 1rem 1rem 0;
}
@media screen and (min-width: 768px) {
  .about__image {
    padding: 2.25rem 2.25rem 0;
  }
}
.about__quote, .about__sub-heading {
  padding: 1rem 1rem 0;
  margin: 0;
  font-family: "Avenir";
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.375rem;
}
@media screen and (min-width: 768px) {
  .about__quote, .about__sub-heading {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}
@media screen and (min-width: 768px) {
  .about__quote, .about__sub-heading {
    padding: 2.25rem 2.25rem 0;
  }
}
.about__quotee {
  display: block;
}
@media screen and (min-width: 768px) {
  .about__quotee {
    font-size: 1.1875rem;
    line-height: 1.375rem;
    padding-top: 1rem;
  }
}
.about__sub-heading {
  padding-top: 1.5rem;
}
.about__text {
  font-family: "Avenir";
  font-weight: 400;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  padding: 1rem 1rem 0;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .about__text {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}
@media screen and (min-width: 768px) {
  .about__text {
    padding: 0;
  }
}

.gallery {
  display: flex;
  flex-direction: column;
  color: #323232;
  background-color: #fafafa;
}
.gallery__title {
  padding: 1.5rem 1rem 0;
  margin: 0;
  font-family: "Avenir";
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
}
@media screen and (min-width: 768px) {
  .gallery__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
}
@media screen and (min-width: 768px) {
  .gallery__title {
    padding: 3rem 1rem 0;
  }
}
@media screen and (min-width: 1280px) {
  .gallery__title {
    padding-left: 2.25rem;
  }
}
.gallery__images {
  width: 95%;
}
@media screen and (min-width: 768px) {
  .gallery__images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1rem 0 1.25rem 1rem;
    justify-content: space-evenly;
  }
}
@media screen and (min-width: 1280px) {
  .gallery__images {
    padding: 2.25rem 0 0.75rem 2.25rem;
  }
}
.gallery__image {
  margin: 1rem 1rem 0;
  width: 95%;
  filter: grayscale(1);
}
.gallery__image:hover {
  filter: grayscale(0);
  border: 4px solid #000000;
}
@media screen and (min-width: 768px) {
  .gallery__image {
    width: 31%;
    margin: 0 1rem 1.5rem 0;
  }
}

.footer {
  background-color: #323232;
  color: #ffffff;
  padding-left: 1rem;
}
@media screen and (min-width: 1280px) {
  .footer {
    padding: 0 2.25rem;
  }
}
.footer__top {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}
@media screen and (min-width: 768px) {
  .footer__top {
    align-items: baseline;
  }
}
.footer__title-name {
  padding-top: 1.5rem;
  margin: 0;
  font-family: "Avenir";
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
}
@media screen and (min-width: 768px) {
  .footer__title-name {
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
}
@media screen and (min-width: 768px) {
  .footer__title-name {
    padding: 3rem 2.25rem 0 0;
  }
}
.footer__logo {
  margin: 1rem;
  display: none;
}
@media screen and (min-width: 768px) {
  .footer__logo {
    display: flex;
  }
}
@media screen and (min-width: 768px) {
  .footer__link {
    padding-right: 1rem;
  }
}
.footer__image {
  height: 1.25rem;
  width: 7.5rem;
}
@media screen and (min-width: 768px) {
  .footer__image--tablet {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .footer__contact-details {
    display: flex;
    width: 100%;
    padding-right: 1rem;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1280px) {
  .footer__contact-details {
    width: 80%;
  }
}
.footer__bottom {
  padding-top: 4rem;
}
@media screen and (min-width: 768px) {
  .footer__bottom {
    padding: 0;
  }
}
.footer__copyright {
  margin: 0;
  color: #afafaf;
  font-family: "Avenir";
  font-weight: 400;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  padding: 1rem 0 2rem;
}
@media screen and (min-width: 768px) {
  .footer__copyright {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}
@media screen and (min-width: 768px) {
  .footer__copyright {
    padding: 1.25rem 0 2.25rem;
  }
}

@media screen and (min-width: 768px) {
  .contacts {
    width: 32%;
  }
}
.contacts__name, .contacts__company, .contacts__location, .contacts__booking, .contacts__email {
  font-family: "Avenir";
  font-weight: 400;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .contacts__name, .contacts__company, .contacts__location, .contacts__booking, .contacts__email {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}
.contacts__name, .contacts__email {
  padding-top: 1rem;
}
.contacts__location, .contacts__booking, .contacts__email, .contacts__link {
  color: #afafaf;
}
.contacts__company {
  padding-bottom: 1rem;
}
.contacts__link {
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .get-in-touch {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
  }
}

.social-media {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
}
@media screen and (min-width: 768px) {
  .social-media__links {
    padding-right: 2.25rem;
  }
}

@media screen and (min-width: 768px) {
  .paragraphs {
    display: flex;
    padding: 2.25rem 2.25rem 0;
  }
}

.paragraph__one {
  padding-right: 1rem;
}
@media screen and (min-width: 1280px) {
  .paragraph__one {
    padding-right: 2.25rem;
  }
}

.conversation {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  padding-right: 1rem;
}
@media screen and (min-width: 768px) {
  .conversation {
    padding-left: 2.25rem;
    padding-right: 2.25rem;
  }
}
.conversation__title {
  margin: 0;
  font-family: "Avenir";
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
  padding-top: 1.5rem;
}
@media screen and (min-width: 768px) {
  .conversation__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
}
@media screen and (min-width: 768px) {
  .conversation__title {
    padding-top: 3rem;
  }
}
.conversation__form {
  display: flex;
  width: 100%;
  border-bottom: 1px solid #e1e1e1;
  padding-top: 1rem;
}
@media screen and (min-width: 768px) {
  .conversation__form {
    width: 80%;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1280px) {
  .conversation__form {
    width: 60%;
  }
}
.conversation__avatar {
  border-radius: 50%;
  width: 2.25rem;
  height: 2.25rem;
}
.conversation__avatar-container {
  padding-right: 1rem;
}
@media screen and (min-width: 768px) {
  .conversation__avatar {
    width: 3rem;
    height: 3rem;
  }
}
.conversation__comments {
  display: flex;
  flex-direction: column;
  align-items: end;
  width: 80%;
  padding-bottom: 1rem;
}
.conversation__button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background-color: #323232;
  padding: 1rem 0;
  width: 100%;
  height: 2.5rem;
  font-family: "Avenir";
  font-weight: 700;
  font-size: 0.625rem;
  line-height: 1.25rem;
  border-radius: 4px;
  margin-top: 1rem;
}
@media screen and (min-width: 768px) {
  .conversation__button {
    font-size: 0.75rem;
  }
}
.conversation__button:hover {
  background-color: #000000;
}
@media screen and (min-width: 768px) {
  .conversation__button {
    width: 9.375rem;
    padding: 0 2rem;
  }
}

.name__label {
  color: #afafaf;
  font-family: "Avenir";
  font-weight: 700;
  font-size: 0.625rem;
  line-height: 1.25rem;
  width: 100%;
  padding-bottom: 4px;
}
@media screen and (min-width: 768px) {
  .name__label {
    font-size: 0.75rem;
  }
}
.name__input {
  color: #323232;
  font-family: "Avenir";
  font-weight: 400;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  width: 100%;
  border-radius: 4px;
  margin-bottom: 1rem;
  border: 1px solid #afafaf;
  background-color: #fafafa;
  padding: 0.5rem;
  height: 2.25rem;
}
@media screen and (min-width: 768px) {
  .name__input {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}
.name__input:active {
  border: 1px solid #000000;
}
@media screen and (min-width: 768px) {
  .name__input {
    height: 3rem;
    padding: 1rem;
  }
}

.comment__label {
  color: #afafaf;
  font-family: "Avenir";
  font-weight: 700;
  font-size: 0.625rem;
  line-height: 1.25rem;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .comment__label {
    font-size: 0.75rem;
  }
}
.comment__input {
  color: #323232;
  font-family: "Avenir";
  font-weight: 400;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  width: 100%;
  border: 1px solid #afafaf;
  border-radius: 5px;
}
@media screen and (min-width: 768px) {
  .comment__input {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}

.comments {
  padding-left: 1rem;
  padding-right: 1rem;
}
@media screen and (min-width: 768px) {
  .comments {
    padding-left: 2.25rem;
    padding-right: 2.25rem;
  }
}
@media screen and (min-width: 768px) {
  .comments {
    width: 80%;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1280px) {
  .comments {
    width: 60%;
  }
}

.comment {
  padding: 1rem 0;
  display: flex;
  border-bottom: 1px solid #e1e1e1;
}
.comment__container {
  width: 100%;
}
.comment__input {
  resize: none;
  height: 4rem;
  background-color: #fafafa;
  padding: 0.5rem;
  border-radius: 4px;
}
.comment__input:active {
  border: 1px solid #000000;
}
@media screen and (min-width: 768px) {
  .comment__input {
    height: 4.5rem;
    padding: 1rem;
  }
}
.comment__label {
  padding-bottom: 4px;
}
.comment__name {
  font-family: "Avenir";
  font-weight: 400;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-family: "Avenir";
  font-weight: 600;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .comment__name {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}
.comment__name-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;
}
.comment__avatar {
  border-radius: 50%;
  width: 2.25rem;
  height: 2.25rem;
  background-color: #e1e1e1;
  margin-right: 1rem;
}
.comment__date {
  font-family: "Avenir";
  font-weight: 400;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  color: #afafaf;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .comment__date {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}
.comment__text {
  font-family: "Avenir";
  font-weight: 400;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .comment__text {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}

.main {
  display: flex;
  flex-direction: column;
}/*# sourceMappingURL=bio.css.map */