* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  padding: 0;
  max-width: 1020px;
}

.header {
  background-color: #323232;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .header {
    flex-direction: row;
    align-items: baseline;
  }
}
.header__link {
  display: flex;
  justify-content: center;
  padding: 1rem 0;
}
@media screen and (min-width: 768px) {
  .header__link {
    padding: 1rem;
  }
}
@media screen and (min-width: 1280px) {
  .header__link {
    padding-left: 2.25rem;
  }
}
.header__logo {
  height: 1.25rem;
  width: 7.5rem;
}

@font-face {
  font-family: Avenir;
  src: url("../../assets/fonts/AvenirNextLTPro-Bold.otf") format("opentype"), url("../../assets/fonts/alternative-files/AvenirNextLTProBold.ttf") format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: Avenir;
  src: url("../../assets/fonts/AvenirNextLTPro-Demi.otf") format("opentype"), url("../../assets/fonts/alternative-files/AvenirNextLTProDemi.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: Avenir;
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf") format("opentype"), url("../../assets/fonts/alternative-files/AvenirNextLTPro.ttf") format("truetype");
  font-weight: 400;
}
.nav__list {
  display: flex;
  justify-content: space-evenly;
  margin: 0;
  padding: 0;
}
@media screen and (min-width: 768px) {
  .nav__list {
    width: 100%;
  }
}
.nav__links {
  list-style: none;
  padding-bottom: 1rem;
  width: 50%;
  text-align: center;
  height: 2.5rem;
}
@media screen and (min-width: 768px) {
  .nav__links {
    padding: 0 1.125rem;
  }
}
.nav__links--active, .nav__links:hover {
  border-bottom: 5px solid #e1e1e1;
}
.nav__link {
  text-decoration: none;
  color: #afafaf;
  font-family: "Avenir";
  font-weight: 700;
  font-size: 0.625rem;
  line-height: 1.25rem;
}
@media screen and (min-width: 768px) {
  .nav__link {
    font-size: 0.75rem;
  }
}
.nav__link--active, .nav__link:hover {
  color: #ffffff;
}

.footer {
  background-color: #323232;
  color: #ffffff;
  padding-left: 1rem;
}
@media screen and (min-width: 1280px) {
  .footer {
    padding: 0 2.25rem;
  }
}
.footer__top {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}
@media screen and (min-width: 768px) {
  .footer__top {
    align-items: baseline;
  }
}
.footer__title-name {
  padding-top: 1.5rem;
  margin: 0;
  font-family: "Avenir";
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
}
@media screen and (min-width: 768px) {
  .footer__title-name {
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
}
@media screen and (min-width: 768px) {
  .footer__title-name {
    padding: 3rem 2.25rem 0 0;
  }
}
.footer__logo {
  margin: 1rem;
  display: none;
}
@media screen and (min-width: 768px) {
  .footer__logo {
    display: flex;
  }
}
@media screen and (min-width: 768px) {
  .footer__link {
    padding-right: 1rem;
  }
}
.footer__image {
  height: 1.25rem;
  width: 7.5rem;
}
@media screen and (min-width: 768px) {
  .footer__image--tablet {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .footer__contact-details {
    display: flex;
    width: 100%;
    padding-right: 1rem;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1280px) {
  .footer__contact-details {
    width: 80%;
  }
}
.footer__bottom {
  padding-top: 4rem;
}
@media screen and (min-width: 768px) {
  .footer__bottom {
    padding: 0;
  }
}
.footer__copyright {
  margin: 0;
  color: #afafaf;
  font-family: "Avenir";
  font-weight: 400;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  padding: 1rem 0 2rem;
}
@media screen and (min-width: 768px) {
  .footer__copyright {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}
@media screen and (min-width: 768px) {
  .footer__copyright {
    padding: 1.25rem 0 2.25rem;
  }
}

@media screen and (min-width: 768px) {
  .contacts {
    width: 32%;
  }
}
.contacts__name, .contacts__company, .contacts__location, .contacts__booking, .contacts__email {
  font-family: "Avenir";
  font-weight: 400;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .contacts__name, .contacts__company, .contacts__location, .contacts__booking, .contacts__email {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}
.contacts__name, .contacts__email {
  padding-top: 1rem;
}
.contacts__location, .contacts__booking, .contacts__email, .contacts__link {
  color: #afafaf;
}
.contacts__company {
  padding-bottom: 1rem;
}
.contacts__link {
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .get-in-touch {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
  }
}

.social-media {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
}
@media screen and (min-width: 768px) {
  .social-media__links {
    padding-right: 2.25rem;
  }
}

.hero {
  background-size: cover;
  background-position: center;
  height: 20rem;
  width: 100%;
  display: flex;
  align-items: center;
  box-shadow: inset 100rem 100rem rgba(50, 50, 50, 0.5);
}
.hero--bio {
  background-image: url("../../assets/images/hero-bio.jpg");
}
.hero--shows {
  background-image: url("../../assets/images/hero-shows.jpg");
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
}
.hero__heading {
  height: 50%;
}
@media screen and (min-width: 768px) {
  .hero {
    height: 30rem;
  }
}
@media screen and (min-width: 1280px) {
  .hero {
    height: 40rem;
  }
}
.hero__title, .hero__sub-title {
  color: #ffffff;
  margin: 0;
  padding-left: 1rem;
}
.hero__title--next-line, .hero__sub-title--next-line {
  display: block;
}
@media screen and (min-width: 1280px) {
  .hero__title, .hero__sub-title {
    padding-left: 2.25rem;
  }
}
.hero__title {
  font-family: "Avenir";
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
}
@media screen and (min-width: 768px) {
  .hero__title {
    font-size: 3.75rem;
    line-height: 4.25rem;
  }
}
.hero__sub-title {
  font-family: "Avenir";
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.375rem;
}
@media screen and (min-width: 768px) {
  .hero__sub-title {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}
.hero__song-container {
  width: 90%;
  padding-left: 1rem;
  padding-right: 1rem;
}
@media screen and (min-width: 768px) {
  .hero__song-container {
    padding-left: 2.25rem;
    padding-right: 2.25rem;
  }
}

.tickets__title {
  font-family: "Avenir";
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
  padding: 1.5rem 0 1rem 1rem;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .tickets__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
}
@media screen and (min-width: 768px) {
  .tickets__title {
    padding: 3rem 2.25rem 2.25rem;
  }
}

.ticket {
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
  border-bottom: 2px solid #e1e1e1;
}
@media screen and (min-width: 768px) {
  .ticket {
    padding-left: 2.25rem;
    padding-right: 2.25rem;
  }
}
.ticket__button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background-color: #323232;
  padding: 1rem 0;
  width: 100%;
  height: 2.5rem;
  font-family: "Avenir";
  font-weight: 700;
  font-size: 0.625rem;
  line-height: 1.25rem;
  border-radius: 4px;
  margin-top: 1rem;
}
@media screen and (min-width: 768px) {
  .ticket__button {
    font-size: 0.75rem;
  }
}
.ticket__button:hover {
  background-color: #000000;
}
@media screen and (min-width: 768px) {
  .ticket__button {
    width: 9.375rem;
    padding: 0 2rem;
  }
}
.ticket__date-label, .ticket__venue-label, .ticket__location-label {
  margin: 0;
  font-family: "Avenir";
  font-weight: 700;
  font-size: 0.625rem;
  line-height: 1.25rem;
  color: #afafaf;
  padding-top: 1rem;
}
@media screen and (min-width: 768px) {
  .ticket__date-label, .ticket__venue-label, .ticket__location-label {
    font-size: 0.75rem;
  }
}
.ticket__date, .ticket__venue, .ticket__location {
  margin: 0;
  font-family: "Avenir";
  font-weight: 400;
  font-size: 0.8125rem;
  line-height: 1.125rem;
}
@media screen and (min-width: 768px) {
  .ticket__date, .ticket__venue, .ticket__location {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}
.ticket__date {
  font-family: "Avenir";
  font-weight: 600;
}
.ticket__date-label {
  padding: 0;
}/*# sourceMappingURL=shows.css.map */